*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
}
#root{
  height: 100%;
  width: 100%;
  padding: 20% 8%;
}

